﻿@model Allmatech.Request.UsuarioRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <center>
            <h1 class="page-header">Usuário</h1>
        </center>
    </div>
    <!-- /.col-lg-12 -->
</div>

@using (Html.BeginForm("Editar", "Login", FormMethod.Post, new { id = "editarUsuario" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdUsuario)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#editarUsuario').submit(interceptFormulario);

    });
    function interceptFormulario(event){
        // prevents default behaviour, i.e. reloading the page
        event.preventDefault();

        $.post(
            $(this).attr('action'), // the form's action
            $(this).serializeArray(),   // the form data serialized
            function (data) {
                // what you are supposed to do with POST response from server
                retornoSalvarUsuario(data);
            }
        )
    }

    function retornoSalvarUsuario(data)
    {
        alert(data.Mensagens[0].Descricao);
        $('#IdUsuario').val(data.objetoRetorno.IdUsuario);
    }


</script>

