﻿
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <img class="img-rounded id="img_logo" src="@Allmatech.Helper.ConstantHelper.ServerUrl()Content/img/logoAllmatech.png">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>

            
            @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!-- Begin # DIV Form -->
                <div id="div-forms">
                    <!-- Begin # Login Form -->
                    <form id="login-form">
                        <div class="modal-body">
                            @if (!string.IsNullOrEmpty(ViewBag.Erro))
                            {
                                <div id="div-login-msg">
                                    <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                    <span id="text-login-msg">@ViewBag.Erro</span>
                                </div>
                            }
                            <input type="text" placeholder="E-Mail" class="form-control" name="Username" required />
                            <input id="register_password" name="Senha" class="form-control" type="password" placeholder="Senha" required>

                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                <a href="@ViewBag.UrlFb" class="btn btn-primary btn-lg btn-block">Login Facebook</a>
                            </div>
                            <div>
                                @Html.ActionLink("Registrar", "Registrar", "Login", new { area = "" }, new { @class = "button"})
                            </div>
                        </div>
                    </form>
                    <!-- End # Login Form -->
                    
                </div>
                <!-- End # DIV Form -->
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#login-modal").modal()
    });
</script>