﻿@model Allmatech.ViewModel.ModuloViewModel
@{
    Layout = "";
}
@foreach (var item in Model.Modulos)
{
    <div class="col-lg-3 col-md-6">
        <a href="@item.Url" target="_blank">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="@item.UrlImagem" alt="@item.Nome"
                                 title="@item.Nome" class="group list-group-image img-thumbnail" width="300" height="250">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">@item.Nome</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </a>
    </div>
}
