﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Theme")
    @Scripts.Render("~/bundles/Theme")
    <script>
        $('#loadingDiv')
            .hide()  // Hide it initially
            .ajaxStart(function () {
                $(this).show();
            })
            .ajaxStop(function () {
                $(this).hide();
            });
    </script>
    <style>
        #page-wrapper {
            background: url('@Allmatech.Helper.ConstantHelper.ServerUrl()Content/img/bg.jpg')
        }


        .loadingDiv {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 ) 
                        url('http://sampsonresume.com/labs/pIkfp.gif') 
                        50% 50% 
                        no-repeat;
        }

        /* When the body has the loading class, we turn
           the scrollbar off with overflow:hidden */
        body.loading {
            overflow: hidden;   
        }

        /* Anytime the body has the loading class, our
           modal element will be visible */
        body.loading .modal {
            display: block;
        }
    </style>
</head>
<body>

    <div class="loadingDiv"></div>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top corFundo" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="corTexto navbar-brand" href="index.html" >Allmatech's Testing -
                @Session["NomeUsuario"]</a>

            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                @if (Session["IdUsuario"] != null)
                {
                    <li class="dropdown">
                            @Html.ActionLink("Sair", "Logoff", "Login", new { area = "" }, null)
                        <!-- /.dropdown-user -->
                    </li>
                }
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
                            </li>
                        @if (Session["IdUsuario"] != null)
                        {
                            <li>
                                @Html.ActionLink("Editar Usuário", "Editar", "Login", new { area = "" }, null)
                            </li>
                        }

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        
        <div id="page-wrapper">
                @RenderBody()
        </div>

    </div>
    <!-- /#wrapper -->


    @RenderSection("scripts", required: false)
</body>
</html>
